<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %level [%t] %c - %m%n"/>
		</Console>
		<Syslog name="Syslog" host="logsene-receiver-syslog.sematext.com" port="514" protocol="TCP"
			format="RFC5424" appName="1dafc277-702d-47c2-8818-99232506df7a" facility="LOCAL0" mdcId="mdc"/>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="Syslog"/>
		</Root>
	</Loggers>

</Configuration>
